body{
  font-family: 'EB Garamond', serif;
}
.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 45px;
    display: none;
}
.scrollup i{
  font-size: 30px;
  color: red;
}
.carousel-item img {
  height: 580px;
}
.carousel-caption h2 {
  text-shadow: 3px 2px #f05310;
}

.getting{
  background: url(../images/1.JPG);
  background-size: cover;
  height: 450px;
  position: relative;
}
.overlay{
  position: absolute;
  background: rgba(1, 2, 11, 0.37);
  width: 100%;
  height: 100%;
}
.pagebanner{
  background: url(../images/bn2.JPG);
  height: 450px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 140px;
}

.newletter{
  padding-bottom: 100px;
}
.fontsize{
  font-size: 15px;
  padding: 10px;
}
.whatdo img{
  margin-top: -110px
}

.counter_section{
  background-color: rgba(10, 10, 10, 0.89);
}
.counter_plugin{
  padding: 45px;
}
.counter_plugin i{
  font-size: 40px;
  color: #fff;
  padding: 10px;
  margin-left: 45px;
}
.counter_plugin .counter{
  font-size: 40px;
  font-weight: bold;
  color: rgb(12, 236, 41);
  margin-left: 45px;
}
.counter_plugin span{
  font-size: 40px;
  font-weight: bold;
  color: rgb(12, 236, 41);
}
.counter_plugin h4{
  font-size: 22px;
  padding-top: 10px;
  color:  #fff;

}
